---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
      <img class="profile {{ page.profile.align }}"  width="33.33%" src="{{ page.profile.image | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
{% endif %}

{{ content }}

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT_2Dmzvmk7ViEUiA6rL24L_yu4HDdEWSV3USi-Enk9E7vwY5a2gHTwAwsgeZiT6hniyA1GCPobZ6iT/embed?start=false&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

  <div class="container">
    <h1>Skill Set</h1>
    <hr>
    <div class="bar learning" data-skill="Java"></div>
    <div class="bar learning" data-skill="Express"></div>
    <div class="bar back basic" data-skill="MLOPS"></div>
    <div class="bar back intermediate" data-skill="Tensorflow"></div>
    <div class="bar back intermediate" data-skill="Pandas"></div>
    <div class="bar back intermediate" data-skill="Docker"></div>
    <div class="bar front advanced" data-skill="Nosql"></div>
    <div class="bar front expert" data-skill="Python"></div>
    <div class="bar front expert" data-skill="Pytorch"></div>
    <div class="bar front expert" data-skill="django"></div>
    <div class="bar front expert" data-skill="Scikit-learn"></div>
    <div class="bar front expert" data-skill="Postgres"></div>
  </div>